<div>
  <h5 class="nickname">your current location is {{ curLocation | json }}</h5>
  <label >nearby clubs: </label>
  <br>
  <li *ngFor="let club of (clubs)  let i = index;">
    {{club.name}} | {{club.users.length}} members
    <button value = "{{i}}"  (click)="onclick_joinClub(bbb.value)" #bbb>join us!</button>
  </li>
</div> 

<div *ngIf = "canCreate">
    <label >clubname</label>
     <input type="text"
          id="name"
          [(ngModel)]="clubName"
          name="name"
          required />
    <button  (click)="onclick_createClub()" class="btn btn-primary"  >CREATE CLUB</button>
</div>   
