<form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
<div>
  <li *ngFor="let club of (clubs);">
    {{club.name}}
    <button value = "{{club.id}}"  (click)="onclick_joinClub(bbb.value)" #bbb>join us!</button>
  </li>
</div> 


<!--<div>
    <label >clubname</label>
     <input type="text"
          id="clubname"
          [(ngModel)]="club.name"
          name="club name"
          required />
</div>    -->
<!--<button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>-->
<!--</form>