<p>
  message works!
</p>
 <label>from</label>
 <input type="text" class="form-control" [(ngModel)]="myName" name="myName" placeholder="your name" required="" />
 <label>to</label>
 <input type="text" class="form-control" [(ngModel)]="otherName" name="otherName" placeholder="other name" required="" />
 <label>message</label>
 <input type="text" class="form-control" [(ngModel)]="message" name="message" placeholder="message" required="" />
 <button (click)="sendMessage()">send</button>
  <ul>
    <li *ngFor="let msg of messageList">Form {{msg.from}} : {{msg.body}}</li>
  </ul>
